{% extends 'blog/base.html' %}
{% load static %}
{% block conten %}
<div class="col-sm-10">
    <h3 class="my-5" style="color:blueviolet">About Page</h3>
    <p style="color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis culpa nulla assumenda quisquam dolore magnam iusto fugit impedit. Ab facere et possimus commodi corrupti voluptatum qui dolore, eius iusto est numquam ipsam animi accusamus expedita amet ipsum labore? Quisquam qui sapiente illo odit, quaerat incidunt omnis sint molestiae laboriosam dolore!</p>

    <p style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quisquam nostrum magnam quia, ipsam provident, facere fuga incidunt iste sequi assumenda hic excepturi a eaque animi ut ex eum! Ratione.</p>
</div>

{% endblock conten %}