{% extends 'blog/base.html' %}
{% load static %}



{% block conten %}
<div class="col-sm-10">
  
  {% for posts in posts %}
  <div class="jumbotron jumbotron-fluid jumbolor  mt-3">
    <p class=" font-italic   titlecol text-justify" style="margin-top: -56px; margin-left: 44px;">{{posts.title}}--{{full_name}}</p>
    <div class="container" >
      <div class="row" >
       
          <p class="lead text-justify texcol mx-3">{{posts.desc}}</p>
        

        
       
      </div>
    </div>
      
    
  </div>
  {% endfor %}
</div>
{% endblock conten %}